*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
}

.ql-editor {
    width: 8.5in;
    height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@page {
    margin: 1in;
}

@media print {
    body {
        background: none;
    }

    .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .ql-toolbar.ql-snow {
        display: none;
    }
}

.doclist-container {
    padding: 2rem 20rem;
}

.cards-container-outer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
}

.cards-container-inner {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.doclist-title {
    font-weight: 500;
}

.card {
    width: 14rem;
    height: 18rem !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 1px;
    background: rgba(229, 218, 218, 0.25);
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    scale: 1.1;
    border: 1px solid blue;
}

.card-title {
    font-size: 0.95rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card-icon {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
}

.card-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* overflow: hidden; */
}

.dots-menu {
    margin-left: 1rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.dots-menu::after {
    display: none !important;
}

.dots-menu:hover {
    background-color: #dadce0;

}

.delete-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.25rem 1rem;
    border: none;
    background: transparent;
}

.delete-menu-item:hover {
    background-color: #dadce0;
}


.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

.login-icon {
    font-size: 6rem;
    color: #0d6efd;
}

.login-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
}

.icon-container {
    padding: 2rem;
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    background: #f0f0f5;
    align-items: center;
}

.icon-size {
    width: 20px;
    height: 30px;
}

#basic-nav-dropdown::after {
    display: none;
}

.userImage {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.add-new {
    position: absolute;
    right: 0;
    margin: 1.5rem;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12), 0px 3px 5px -1px rgba(0, 0, 0, .2);
}

.add-new-btn {
    width: 50px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;

    transition: 1s;
}

.add-new-btn:hover {
    rotate: 180deg;
    scale: 1.1;
}

.dropdown-menu {
    z-index: 100;
    overflow: auto;
}

.google-icon {
    scale: 0.5;
}

.signin-btn {
    background-color: #dadce0;
}

.empty-list-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 18rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
}

.empty-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}