*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

body {
    background-color: #F3F3F3;
}

.ql-editor {
    width: 8.5in;
    height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@page {
    margin: 1in;
    size: auto;
}

@media print {
    body {
        background: none;
    }

    .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .ql-toolbar.ql-snow {
        display: none;
    }

    .navbar {
        display: none !important;
    }
}


.dropdown-menu {
    z-index: 100;
    overflow: auto;
}

.empty-list-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 18rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
}

.empty-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Ipad and (min-device-width: 768px) */
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .login-form {
        padding: 5rem;
    }
}

/* mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .login-form {
        padding: 2rem;
    }
}

/* dark theme */

.dark #root {
    background-color: #292c35;
    color: white !important;
}

.dark {
    background-color: #292c35 !important;
}

.dark .ql-editor,
.dark .ql-toolbar.ql-snow,
.dark .ql-snow .ql-picker-options {
    background-color: #292c35;
}

.dark .ql-header.ql-picker,
.dark .ql-picker-label,
.dark .ql-picker-label svg,
.dark .ql-snow .ql-picker-options {
    color: white
}

.dark .ql-snow .ql-fill {
    fill: white
}

.dark .ql-snow .ql-stroke {
    stroke: white
}