.doclist-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
    flex-direction: column;
}

.doclist-title {
    font-weight: 500;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}

.card {
    width: 14rem;
    height: 18rem !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 1px;
    background: rgba(229, 218, 218, 0.25);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 0.2), 0px 12px 17px 1px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 5px 10px -7px rgba(0, 0, 0, 0.2), 0px 12px 17px 1px rgba(0, 0, 0, 0.14);
    animation: movecard;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes movecard {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0px);
    }
}

.card:hover {
    scale: 1.1;
    border: 1px solid blue;
}

.card-title {
    font-size: 0.95rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title.h5 {
    font-size: 1rem;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card-icon {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 1rem;
    color: #0d6efd
}

.card-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dots-menu {
    margin-left: 1rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.dots-menu::after {
    display: none !important;
}

.dots-menu:hover {
    background-color: #dadce0;

}

.dots-menu-item-container {
    z-index: 1000;
}

.delete-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.25rem 1rem;
    border: none;
    background: transparent;
}

.delete-menu-item:hover {
    background-color: #dadce0;
}

.dropdown-menu {
    z-index: 100;
    overflow: auto;
}

.empty-list-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 18rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
}

.empty-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-new {
    position: fixed;
    right: 0;
    margin: 1.5rem;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12), 0px 3px 5px -1px rgba(0, 0, 0, .2);
}

.add-new-btn {
    width: 70px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    transition: 1s;
    background-color: white;
    color: blue;
    font-size: 1.5rem;
}

.add-new-btn:hover {
    rotate: 180deg;
    scale: 1.1;
}

/* Ipad and (min-device-width: 768px) */
/* @media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .add-new-btn {
        width: 50px;
        font-size: 1rem;
    }

    .ql-toolbar.ql-snow {
        flex-wrap: wrap;
    }

    .doclist-container {
        padding: 2rem;
    }

    .doclist-title {
        display: flex;
        justify-content: center;
    }
} */

/* mobile */

@media only screen and (max-width: 700px) {
    .cards-container {
        justify-content: center;
    }

    .doclist-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* dark mode */

.dark .doclist-container .card {
    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background-color: #3a3e48 !important;
}

.dark .dots-menu {
    color: white
}

.dark .dots-menu:hover {
    color: #333;
    background-color: #5f636c;
}

.dark .dropdown-menu.show {
    background-color: rgb(33, 37, 41);
}

.dark .add-new {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12), 0px 3px 5px -1px rgba(0, 0, 0, .2);
}

.dark .add-new-btn {
    background-color: #292c35;
    color: white;
}

.dark .add-new-btn:hover {
    background-color: #292c35;
}

.dark .card-icon {
    color: white
}